* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ///////////  HEADER     //////*/
header {
  background: linear-gradient(135deg, #2a2a2a, #1b1b1b);
  padding: 15px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* //////////  NAVBAR   ////////*/
nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ЛОГО */
.logo-header-section {
  color: #f7d08a;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
  padding: 0 10px;
}

/* БЛОК КНОПОК */
.btn-header-section {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

/* КНОПКИ */
button {
  background: #fdfdfd;
  color: #222;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;

  font-size: 15px;
  font-weight: 500;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 150ms, background 200ms, color 200ms, box-shadow 200ms;
}

button:hover {
  background: #222;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button.active {
  background: #f7d08a;
  color: #222;
  font-weight: bold;
}

/* /////      HOME          /////*/

.home-container {
  z-index: 2;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: 25px auto; /* центрирование с отступами сверху и снизу */
  padding: 20px 5px 20px 5px;
  background-color: #c8a257f2;
  border-radius: 12px;
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeIn 0.6s ease;
}

.home-bg {
  position: relative;
  background-image: url("./images/home-bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Чтобы форма не прилипала к краям */
  padding: 40px 0;
}

.home-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Заголовок */
.home-title {
  font-size: 2rem;
  font-family: "Georgia", serif;
  margin-bottom: 15px;
  color: #960000;
  font-weight: bold;
}

/* Подзаголовок */
.home-subtitle {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.5;
  font-style: italic;
}

.order-btn {
  margin-top: 20px;
  background-color: #7d4b3d;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Простая анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-img {
  width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.footer-container {
  background: linear-gradient(135deg, #2a2a2a, #1b1b1b);
  color: #eee;
  padding: 20px 20px 10px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-brand {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #fff;
}

.footer-location {
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #ccc;
}

.footer-contacts,
.footer-hours {
  font-size: 0.7rem;
  margin-bottom: 5px;
  color: #bbb;
}

#content.contact-bg {
  position: relative;
  background-image: url("images/pizzaBG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Чтобы форма не прилипала к краям */
  padding: 40px 0;
}

.contact-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.contact-container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  animation: fadeIn 0.6s ease;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-form {
  padding: 10px 15px;
  display: flex;
  background-color: #e5dfdf;
  flex-direction: column;
  border-radius: 12px;

  gap: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.5);
}

.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form label {
  font-weight: bold;
  font-size: 1rem;
}

.contact-form input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 200ms;
}

.contact-form input:focus {
  border-color: #960000;
  box-shadow: 0 0 5px rgba(150, 0, 0, 0.5);
}

.submit-btn {
  padding: 12px;
  font-size: 1.1rem;
  background-color: #960000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms;
}

.submit-btn:hover {
  background-color: #b11;
  transform: translate(-2px);
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  flex-direction: column;
}

.menu-container {
  display: flex;
  gap: 80px;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
}

.menu-cards-wrapper {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.pizza-card img {
  height: 350px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.pizza-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
}

.pizza-card-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

.menu-title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  color: #2b2b2b;
}

.pizza-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #e63946; /* приятный красный для цены */
  margin-top: -4px;
}

/*            АДАПТИВ   */

/*           Планшеты (до 1024px)            */
@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    padding: 25px 10px;
  }

  .home-img {
    width: 300px;
  }

  .menu-cards-wrapper {
    gap: 40px;
  }
}

/*  Мобильные большие (до 768px)            */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  button {
    padding: 8px 18px;
  }

  .home-title {
    font-size: 1.6rem;
  }

  .home-subtitle {
    font-size: 1.1rem;
  }

  .home-img {
    width: 250px;
  }

  .menu-title {
    font-size: 2rem;
  }

  .menu-cards-wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .pizza-card img {
    height: 280px;
  }
}

/*        Мобильные маленькие (до 480px)     */

@media (max-width: 480px) {
  .logo-header-section {
    font-size: 1.3rem;
  }

  button {
    font-size: 0.9rem;
    padding: 7px 15px;
  }

  .home-container {
    padding: 15px;
  }

  .home-title {
    font-size: 1.4rem;
  }

  .home-subtitle {
    font-size: 1rem;
  }

  .home-img {
    width: 200px;
  }

  .pizza-card img {
    height: 230px;
  }

  .menu-title {
    font-size: 1.6rem;
  }
}
